#canvas {
    border: 1px solid black;
    display: inline-block;
}

#params {
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    padding-bottom: 15px;
}

/* 
uncomment this for the grid to be visible
.alive, .dead {
    border: 1px solid grey;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
 */

.alive {
    background-color: black;
}

.dead {
    background-color: white;
}

input {
    margin-top: 5px;
}